MCWSJAV/
README.txt
REVERB
REVERBWSJCAM0/
WSJBuildAndTest
WSJCAM0/
code/
doc/
generate_WS_train/
lib_MFCC_0_D_A_Z_CEPLIFTER_1/
lib_MFCC_0_D_A_Z_CEPLIFTER_1_14.05.18_14.1400346889/
logs/
mktriwint.led
models/
printlib
scripts/#reverbwsjcam0_recognize#
si_tr_wint.mlf
taskFiles/
taskFiles_et/
tools/
tmp/